$colors: (
  primary: (
    100: hsl(135, 64%, 90%),
    200: hsl(136, 64%, 80%),
    300: hsl(136, 65%, 71%),
    400: hsl(136, 65%, 61%),
    500: hsl(136, 65%, 51%),
    600: hsl(136, 64%, 41%),
    700: hsl(136, 65%, 31%),
    800: hsl(136, 65%, 20%),
    900: hsl(136, 65%, 10%),
  ),
  secondary: (
    100: hsl(192, 71%, 90%),
    200: hsl(192, 70%, 80%),
    300: hsl(192, 70%, 71%),
    400: hsl(192, 70%, 61%),
    500: hsl(192, 70%, 51%),
    600: hsl(192, 71%, 43%),
    700: hsl(192, 71%, 31%),
    800: hsl(192, 70%, 21%),
    900: hsl(192, 69%, 10%),
  ),
  text: (
    100: hsl(231, 26%, 85%),
    200: hsl(233, 26%, 70%),
    300: hsl(232, 26%, 54%),
    400: hsl(233, 26%, 39%),
    500: hsl(233, 26%, 24%),
    600: hsl(233, 27%, 19%),
    700: hsl(234, 26%, 14%),
    800: hsl(231, 27%, 10%),
    900: hsl(230, 25%, 5%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(240, 8%, 92%),
    300: hsl(230, 8%, 85%),
    400: hsl(234, 9%, 77%),
    500: hsl(233, 8%, 62%),
    600: hsl(231, 8%, 50%),
    700: hsl(233, 8%, 37%),
    800: hsl(234, 8%, 25%),
    900: hsl(228, 8%, 12%),
  ),
);
